<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotels</title>
    <link rel="stylesheet" href="../css/hoteles.css">
    </head>
<header class="cabecera">
    <img src="../imgs/logo2.jpeg" alt="logo">
    <nav class="menuprincipal">
        <a href="{{asset('/')}}">Home</a>
        <a href="">Hotels</a>
        <a href="#">Places</a>
        <a href="{{ route('login') }}">Login</a>
        <a href="{{route('register')}}">Register</a>
        <a href="#">Help</a>
    </nav>
</header>
<body>
    <section class="hoteles">
        <h2>Personalizar Tabla</h2>
    </section>
    <section class="hts">
        <h3>Nombre del Hotel</h3>
        <select name="Nombre del Hotel" id="1">
            <option>ejemplo1</option>
            <option>ejemplo2</option>
            <option>ejemplo3</option>
        </select>
        <h3>Datos Mostrados</h3>
        <select name="Datos" id="2">
            <option>ejemplo1</option>
            <option>ejemplo2</option>
            <option>ejemplo3</option>
        </select>
        <h3>Mes Inicio</h3>
        <select name="Inicio" id="3">
            <option>ejemplo1</option>
            <option>ejemplo2</option>
            <option>ejemplo3</option>
        </select>
        <h3>Mes Fin</h3>
        <select name="Fin" id="4">
            <option>ejemplo1</option>
            <option>ejemplo2</option>
            <option>ejemplo3</option>
        </select>
        <h3>Tipo de tabla</h3>
        <select name="Tipo" id="5">
            <option>ejemplo1</option>
            <option>ejemplo2</option>
            <option>ejemplo3</option>
        </select>
        <nav class="m1">
            <a href="">Buscar</a>
        </nav>
        <img class="imglinea" src="../imgs/linea.png" alt="grafico de linea">
    </section>
</body>  
</html>