<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Places</title>
    <link rel="stylesheet" href="../css/hoteles.css">
    </head>
<header class="cabecera">
    <img src="../imgs/logo2.jpeg" alt="logo">
    <nav class="menuprincipal">
        <a href="{{asset('/')}}">Home</a>
        <a href="">Hotels</a>
        <a href="#">Places</a>
        <a href="{{ route('login') }}">Login</a>
        <a href="{{route('register')}}">Register</a>
        <a href="#">Help</a>
    </nav>
</header>
<section class="hts2">
    <h2>Elija el lugar del cual desea obtener informacion</h2>
    <nav class="m2">
        <a href="">Ejemplo 1</a>
        <a href="">Ejemplo 2</a>
        <a href="">Ejemplo 3</a>
        <a href="">Ejemplo 4</a>
        <a href="">Ejemplo 5</a>
    </nav>
</section>
</html>