<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Places</title>
    <link rel="stylesheet" href="../css/hoteles.css">
    </head>
<header class="cabecera">
    <img src="../imgs/logo2.jpeg" alt="logo">
    <nav class="menuprincipal">
        <a href="{{asset('/')}}">Home</a>
        <a href="">Hotels</a>
        <a href="#">Places</a>
        <a href="{{ route('login') }}">Login</a>
        <a href="{{route('register')}}">Register</a>
        <a href="#">Help</a>
    </nav>
</header>
<section class="hts2">
    <h2>Elija el lugar del cual desea obtener informacion</h2>
</section>
<section class="hts3">
    <input class="bsqd" type="text" name="hotel" size="50" height="30">
</section>
<section class="imgtext">
    <h3>Ocupacion en el mes de agosto</h3>
    <h3>Tarifa promedio por habitacion</h3>
    <h3>Mas informacion</h3>
</section>
<section class="grfcs">
    <img src="../imgs/pastel.jpg" alt="grafica de pastel">
    <img src="../imgs/barras.png" alt="grafica de barras">
    <img src="../imgs/edificios.png" alt="edificios">
</section>
</html>