*{
    padding: 0;
    margin: 0;
}
header.cabecera{
    background-color: rgb(255, 255, 255)
}
header.cabecera img{
    width: 80px;
    height: 80px;
    margin-bottom: 2em;
}
nav.menuprincipal {
    text-align: end;
    margin-right: 2em;
    text-decoration: none;
    margin-top: -3em;
}
nav.menuprincipal a{
    text-decoration: none;
    font-size: larger;
    margin: 0.3em;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: rgb(45, 172, 140)
}
section.hoteles{
    margin-top: 4em;
    margin-left: 8.4em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
section.hts{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    margin-top: 1em;
    margin-left: 7em;
}
nav.m1{
    margin-top: 1em;
}
nav.m1 a{
    text-decoration: none;
    margin-left: 0.5em;
    color: rgb(141, 133, 133);
}
section.hts2 h2{
    margin-top: 5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
nav.m2 a{
    margin-top: 1em;
    text-align: center;
    text-decoration: none;
    color: rgb(141, 133, 133);
    display: list-item;
}
nav.m2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: x-large;
    margin-top: 2em;
    size: 100px;
}
section.hts3{
    text-align: center;
    margin-top: 3em;
}
section.grfcs img{
    margin-left: 14.2em;
    margin-top: 4em;
    width: 150px;
    height: 150px;
}
section.grfcs {
    margin-left: 0.6em;
    display: flex;
}
section.imgtext{
    display: flex;
    margin-top: 5em;
}
section.imgtext h3{
    margin-left: 9em;
}
section.hts img{
    width: 500px;
    height: 230px;
    margin-left: 17em;
    margin-top: -22em;
    margin-bottom: 3em;
}