/* Pseudo variables */
:root{
    --white: #ffffff;
    --black: #212121;
    --primary:#3C6479;
    --secundary: #FEDED7;
    --terciary: #F0C7C3;

    font-size: 3.8rem;
}
/* Configuracion basica*/
html{
    font-size: 62.5%;
}
body{
    font-size: 16px;
    font-family: 'Krub',sans-serif;
    background-color: var(--primary);
}
a{
    text-decoration: none;
    color: var(--black);
}

.button{
    background-color: var(--primary);
    padding: 10px 30px;
    margin-top: 20px;
    color: var(--white);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 80%;
    text-align: center;
}

.shadow-box{
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
}
/* Layout */

.headerLayout{
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    color: var(--black);
    font-weight: bold;
    padding: 0.1rem;
    box-shadow: 0 0 2px var(--black);
}
.principal-nav{
    padding: 0.3rem;
    display: flex;
    justify-content:flex-end;
    
}
.logo{
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 50%;
    background-color: #40D2A6;
    justify-content: center;
	align-items: center;
    text-align: center;
    line-height:60px;
    color: var(--white);
    font-size: 40px;
    font-family: "Merienda One";
    letter-spacing: 0px;
}
.logoImg{
    width: 64px;
}
.principal-nav a{
    color: var(--black);
    display: inline;
    text-decoration: none;
    margin-left: 0.5rem;

}
.principal-nav a:hover{
    color: var(--primary);
    text-decoration: lightblue;
    
}
.principal-footer{
    background-color: var(--black);
    color: var(--white);
    display: flex;
    justify-content:space-evenly;
}

.principal-article{
    align-content: center;
    text-align: center;
}

.content-article{
    align-items: center;    
}
/*fin layout */
/* Index */
.page-name{
    position: relative;
    max-height: 11.3rem;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.page-name h1, .page-name h2{
    position: absolute;
    font-size: 1.2rem;
    color: var(--white);
    padding-top: 6rem;    
}
.page-name h3{
    padding-top: 7rem;
}
.video-index:before{
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}
.container-principal{
    width: 90%;
    margin: 0 auto;
    padding-top: 0.3rem;
    background-color: var(--white)  ;
}
.index-hospitality{
    display: flex;
    margin-left: 1rem;
    text-align: center;
    align-items: center;
}

.article-hospitality{
    width: 9rem;
    margin-bottom: 2rem;
    
}
.article-hospitality img, .link-index img{
    max-width: 90%; 
    margin-bottom: .3rem;
}
.collage{
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "img1 img2 img3 img6"
        "img1 img4 img5 img6";
    max-height: 700px;

}

.img1 { grid-area: img1; }
.img2 { grid-area: img2; }
.img3 { grid-area: img3; }
.img4 { grid-area: img4; }
.img5 { grid-area: img5; }
.img6 { grid-area: img6; }

.img2, .img3, .img4, .img5{
    width: 360px;
    height: 350px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .8);
}
.img1, .img6{
    width: 400px;
    height: 700px;
    overflow: hidden;
}

@media(max-width:480px){
    .index-hospitality{
        display: block;
    }
    .button{
        width: auto;
    }
}

@media(max-width:765px){
    .index-hospitality{
        display: grid;
        grid-column: 50% 50%;
    }
    .article-hospitality img, .link-index img{
        max-width: 60%; 
    }
    .article-hospitality{
        
        width: 9rem;
        margin-bottom: 2rem;
    }
}

.pipo{
    color: var(--white);
}